---
// src/components/general/Footer.astro
import { i18n } from '@data/i18n'
const es = i18n.es.footer
const en = i18n.en.footer
---
<footer class="border-t border-[var(--color-border)] py-6 px-8">
  <div class="container flex flex-col sm:flex-row items-center justify-between gap-2">
    <p class="text-xs text-[var(--color-text3)] font-mono">
      <span data-lang="es">{es.rights}</span>
      <span data-lang="en">{en.rights}</span>
    </p>
    <p class="text-xs text-[var(--color-text3)] font-mono">
      <span data-lang="es">{es.builtWith}</span>
      <span data-lang="en">{en.builtWith}</span>
    </p>
  </div>
</footer>
